.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___content {
  height: fit-content;
  max-width: 150px;
  list-style: none;
  padding: 15px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___img {
  max-height: 300px;
}