.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
} 

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 2px solid #ca9650;
  font-weight: 700;
  font-size: 30px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}